%% -*- mode: erlang -*-

{lib_dirs, ["deps"]}.

{deps, [
        {'gen_smtp', ".*",
         {git, "git://github.com/Vagabond/gen_smtp.git", {branch, "master"}}},
        {'lager', ".*",
         {git, "git://github.com/basho/lager.git", {branch, "master"}}}
]}.

{erl_opts, [{parse_transform, lager_transform}]}.

{sub_dirs, ["rel"]}.
