body {
    background-color: #fff;
}

header {
    font: 2.2em serif;
    margin: 1em auto 2em;
    width: 12em;
}

header span {
    margin-right: 1em;
}

.missing {
    color: #fff;
}

.comment {
    width: 60%;
    margin: 0 auto;
}
