%% -*- mode: erlang -*-

[
 {sasl, [
         {errlog_type, error},
         {sasl_error_logger, {file, "/src/sites/fix_id/fix_id_sasl.log"}}
        ]},
 {kernel, [
           {error_logger, {file, "/src/sites/fix_id/fix_id.log"}}
          ]},
 {mnesia, [
           {dir, "/src/sites/fix_id/db"}
          ]}
].
