%% -*- mode: erlang -*-

[
 {fix_id, [
           {email_port, 2525}
          ]},
 {sasl, [
         {sasl_error_logger, false}
        ]},
 {lager,
  [{handlers,
    [{lager_file_backend,
      [{"/src/sites/fix_id/fix_id.log", info, 10485760, "$D0", 5}]}
    ]}
  ]},
 {mnesia, [
           {dir, "/src/sites/fix_id/db"}
          ]}
].
