%% -*- mode: erlang -*-

[
 {fix_id, [
           {email_port, 2525}
          ]},
 {sasl, [
         {sasl_error_logger, false}
        ]},
 {lager,
  [{handlers,
    [{lager_file_backend,
      [{"/var/log/fix_id/fix_id.log", info, 0, "", 5}]}
    ]}
  ]},
 {mnesia, [
           {dir, "/var/lib/fix_id/db"}
          ]}
].
